body {
    font: 12px Tahoma;
    background-color: #2a2735;
}

#search-input {
    background-color: #2a2735;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #fff;
    padding: 0 10px;
    flex:1;
}

button {
    color: #fff;
    background-color: #29c5e6;
    border: none;
    height: 32px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    display: inline-block;
    color: #fff;
    font: 40px/40px 'Oswald', sans-serif;
    margin: 0;
    padding: 0 10px;
}

select {
    background-color: #3c394b;
    color: #fff;
    margin: 10px;
    border-radius: 15px;
}

label {
    margin: 10px;
}

.text {
    color: #fff;
}

#wrapper {
    max-width: 960px;
    max-height: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#header {
    flex-direction:column;
    flex-wrap: wrap;
}

#head-panel {
    border-radius: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#header-logo-panel {
    flex-direction: row;
    flex-wrap:nowrap;
}

#header-search-panel {
    flex-direction: row;
    flex-wrap: nowrap;
}

#header-functional-panel {
    background-color: #3c394b;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    border-radius:20px;
    margin-top: 1%;
    padding-left: 1%;
}

#main-panel {
    display: flex;
    margin-top:1%;
    flex-basis:100%;
}

#graphic-panel {
    background-color: #3c394b;
    border-radius: 20px;
    float: left;
    flex:none;
    width: 30em;
    padding: 1%;
    margin-right:1%;
}

#quotes-panel {
    background-color: #3c394b;
    border-radius: 20px;
    flex: 1;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

#quotes-panel-table {
    display:flex;
}

#actions-panel {
    display: flex;
    flex-basis: 100%;
}

#user-actions-panel {
    margin-top: 1%;
    background-color: #3c394b;
    border-radius: 20px;
    flex:auto;
    padding:1%;
}

#quotes-table {
    display: flex;
    flex-direction:column;
    max-height: 200px;
    overflow-y: auto;
}

#quotes-table-row {
    display: flex;
    flex-wrap: nowrap;
}

#quotes-table-cell-symbol {
    color: #fff;
    padding: 2%;
    flex: 1;
    border-bottom-style: solid;
    border-bottom-color: #4d395c;
}

#quotes-table-cell-price {
    color: #fff;
    padding: 2%;
    flex: 1;
    border-bottom-style: solid;
    border-bottom-color: #4d395c;
}
